/* Semantic UI Icons - minimal import for Icon component */
@import url('https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/components/icon.min.css');

/* Additional Semantic UI components if needed */
.ui.message {
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
}

.ui.message.blue {
  background-color: #dff0ff;
  color: #2185d0;
  box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
}

.ui.message.green {
  background-color: #fcfff5;
  color: #2c662d;
  box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
}

.ui.message.purple {
  background-color: #f6e7ff;
  color: #9627ba;
  box-shadow: 0 0 0 1px #d896ff inset, 0 0 0 0 transparent;
}

.ui.message.orange {
  background-color: #fff8db;
  color: #573a08;
  box-shadow: 0 0 0 1px #d9caab inset, 0 0 0 0 transparent;
}

.ui.message > :first-child {
  margin-top: 0;
}

.ui.message > :last-child {
  margin-bottom: 0;
}
